/* styles.css*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
     
    box-sizing: border-box;
    margin: 0;
    padding: 1; 
    
}

header{
    display: flex; /* flex box*/
    justify-content: space-between; 
    align-items: center; /* centers the everything in this element*/
    padding: 15px 10%; 
    background-color: #faf4f6;
}

.logo {
    order: -1; /* Move the logo to the beginning (left) of the flex container */
}


.nav-button{ 
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #ffffff; /* color of font */
        text-decoration: none;
        display: inline-block; 
        padding: 0px 20px;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        border-radius: 50px;
        border: none;
        background-color: rgba(236,213,220, 1); /* rgba deals with opacity levels which the a stands for */
        margin-left: 20px;
        padding: 9px 25px;
}

.nav-button:hover { 
    background-color: rgba(236,213,220, 0.8);
    /*color: hsla(172, 40%, 45%, 0.9) ;*/
    
}

a {
    text-decoration: none; /* Remove underline from linked elements */
    color: #faf4f6; /* keeps the link color the same as text color */
}

/*.nav-bar{
    list-style: none;
}*/

#logo{
    width: 65px;
    height: auto;
    margin-right: auto;
    cursor: pointer;
}
